/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.error_message{
	color: red;
}

.remember-me {
	font-weight: normal;
	color: white;
}